plateformeback/
node_modules/
# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Spring Boot / Maven
# =========================
**/target/
**/.mvn/timing.properties

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node / React / Vite
# =========================
**/node_modules/
**/dist/

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db